{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Assinador</title>
  </head>

  <body class="bg-info">

    <div id="layoutAuthentication">
      <div id="layoutAuthentication_content">
        <main>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">
                      Assinador de Mensagem
                    </h3>
                  </div>
                  <div class="card-body">
                    <form action="{% url 'gerar_chave' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="chaveprivada">Chave Privada</label>
                        <textarea name="chaveprivada" class="form-control" id="chaveprivada" rows="3" deactivate>{{chaveprivada}}</textarea>
                      </div>
                      <div class="form-group">
                        <label for="chavepublica">Chave Pública</label>
                        <textarea name="chavepublica" class="form-control" id="chavepublica" rows="3" deactivate>{{chavepublica}}</textarea>
                      </div>
                      <button class="btn btn-primary mb-3" type="submit" >Gerar Chaves</button>

                      <a
                        id="baixarchaveprivada"
                        class="btn btn-primary mb-3"
                        download="chavePrivada.txt"
                        hidden
                        >Baixar Chave Privada</a
                      >
                      <a
                        id="baixarchavepublica"
                        class="btn btn-primary mb-3"
                        download="chavePublica.txt"
                        hidden
                        >Baixar Chave Pública</a
                      >
                      <p>O que você deseja assinar?</p>
                      <div
                        class="custom-control custom-radio custom-control-inline mb-3"
                      >
                        <input
                          type="radio"
                          id="assinartexto"
                          name="tipoassinatura"
                          class="custom-control-input"
                          onclick="tipoAssinatura('texto')"
                          value="texto"
                          required
                        />
                        <label class="custom-control-label" for="assinartexto"
                          >Texto</label
                        >
                      </div>
                      <div
                        class="custom-control custom-radio custom-control-inline mb-3"
                      >
                        <input
                          type="radio"
                          id="assinararquivo"
                          name="tipoassinatura"
                          class="custom-control-input"
                          onclick="tipoAssinatura('arquivo')"
                          value="arquivo"
                          required
                        />
                        <label class="custom-control-label" for="assinararquivo"
                          >Arquivo</label
                        >
                      </div>
                      <div class="form-group" hidden>
                        <label for="texto">Texto</label>
                        <textarea
                          name="texto"
                          class="form-control"
                          id="texto"
                          rows="3"
                        ></textarea>
                      </div>
                      <div class="custom-file" hidden>
                        <input
                          name="arquivo"
                          type="file"
                          class="custom-file-input"
                          id="arquivo"
                        />
                        <label class="custom-file-label" for="arquivo"
                          >Escolha o arquivo</label
                        >
                      </div>
                      {% if sucesso == True %}
                      <script>
                        alert("Mensagem assinada com sucesso.");
                      </script>
                      <div class="form-group">
                        <label for="mensagemassinada">Mensagem Assinada</label>
                        <textarea
                          name="mensagemassinada"
                          class="form-control"
                          id="mensagemassinada"
                          rows="3"
                        >
{{mensagemassinada}}</textarea
                        >
                      </div>
                      <a
                        id="baixarmensagemassinada"
                        class="btn btn-primary mb-3"
                        download="mensagemAssinada.txt"
                        href="data:text/plain;utf-8,{{mensagemassinada}}"
                        >Baixar Mensagem Assinada</a
                      >
                      {% elif sucesso == False %}
                      <script>
                        alert(
                          "Não foi possível assinar a mensagem. Por favor, tente novamente."
                        );
                      </script>
                      {% endif %}
                      <div class="form-group mt-4 mb-0">
                        <button class="btn btn-primary btn-block" type="submit">
                          Assinar Mensagem
                        </button>
                      </div>
                    </form>
                  </div>
                  <div class="card-footer text-center">
                    <div class="small">
                      <a href="#">Verificar Assinatura</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
